models/mobilenet_v2.zip filter=lfs diff=lfs merge=lfs -text
models/resnet18_batchsize_64.onnx filter=lfs diff=lfs merge=lfs -text
models/torchscript_mobilenet_v2_inputdims_3x32x32.pth filter=lfs diff=lfs merge=lfs -text
models/mobilenet_v2_1.0_224.tflite filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/apple filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/arm filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/intel filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/jetson/mobilenet-ssd_jetson_xavier_optimized.pkl filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/rtx3070 filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/rtx3070/resnet18_batchsize_64_RTX3070.pkl filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/apple/mobilenet_v2_bs1_fp32.mlmodel filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/intel/resnet50_batchsize_1_openvino.pkl filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/jetson filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/jetson/mobilenet-ssd_jetson_nano_optimized.pkl filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/jetson/orin filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/jetson/orin/mobilev2_ssd_int8.pkl filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/jetson/xavier filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/jetson/xavier/mobilenet-ssd_jetson_xavier_optimized.pkl filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/t4 filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/v100 filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/jetson/nano filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/jetson/nano/mobilenet-ssd_jetson_nano_optimized.pkl filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/jetson/orin/mobilenet-ssd_jetson_orin_optimized.pkl filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/t4/mobilenet-ssd_t4_optimized.pkl filter=lfs diff=lfs merge=lfs -text
models/hardware_specific_models/nvidia/v100/mobilenet-ssd_v100_optimized.pkl filter=lfs diff=lfs merge=lfs -text
models/bert_sts_model.onnx filter=lfs diff=lfs merge=lfs -text
models filter=lfs diff=lfs merge=lfs -text
